<div style="    width: 80%;
margin: auto;
border-radius: 10px;
padding-inline: 35px;
background: white;
padding-block: 10px;
height: calc(100vh - 200px);
margin-bottom: 10px; ">
    <div style="background: #88D6B3;
    padding: 10px;
    border-radius: 10px; color: white; font-weight: 500; margin-bottom: 10px;">
    <span>marche en cours</span>
    </div>
    <div style="    display: flex;
    justify-content: flex-end;">
      <button style="    background: #001529;
      color: white;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      cursor: pointer;
      border-radius: 10px;" nz-button nzType="primary" (click)="showModal()">
        Open Purchase Request Form
      </button>
    </div>

    <div>
      <div class="header" style="display: flex;
      justify-content: space-between;
      align-items: center;">
        <h3>{{data.title}}</h3>

        <img src="assets/image-maroc.png" alt="" style="    width: 120px;">
        <span> Temps restant : {{data.remainingTime.daysRemaining}} days {{data.remainingTime.hoursRemaining}}</span>
      </div>
      <div>
        <p>
          {{data.description}}
        </p>
      </div>
      <div>
        <h3>sector : {{data.sector}}</h3>
       <h3> caution Percentage : {{data.cautionPercentage}}%</h3>
       <h3> estimated amount : {{data.estimatedAmount}}</h3>
       <h3> budget Type : {{data.budgetType}}</h3>
       <h3> operation : {{data.operation}}</h3>
       <h3> situation : {{data.situation}}</h3>
       <h3> prestation : {{data.prestation}}</h3>
      </div>
    </div>
<!-- purchase-request.component.html -->


<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Submit Purchase Request"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
>
<ng-container *nzModalContent>


  <form nz-form (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label>CPS</nz-form-label>
      <nz-form-control>
        <input type="file" (change)="handleFileUpload($event, 'CPS')" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>RC</nz-form-label>
      <nz-form-control>
        <input type="file" (change)="handleFileUpload($event, 'RC')" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>DA</nz-form-label>
      <nz-form-control>
        <input type="file" (change)="handleFileUpload($event, 'DA')" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Estimation</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="purchaseRequest.estimation" name="estimation" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="submit">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-container>
</nz-modal>
</div>
