<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">e-marchespublics</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      @if (user.role=='CDP') {
        <li nz-menu-item>
          <span>Create offre</span>
        </li>
      }

      <li nz-menu-item>
        <span>offers</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
      <span (click)="logout()" style="    margin-left: 80%;">LogOut</span>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
