<!-- purchase-request-modal.component.html -->
<form nz-form (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label>CPS</nz-form-label>
    <nz-form-control>
      <input type="file" (change)="handleFileUpload($event, 'CPS')" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>RC</nz-form-label>
    <nz-form-control>
      <input type="file" (change)="handleFileUpload($event, 'RC')" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>DA</nz-form-label>
    <nz-form-control>
      <input type="file" (change)="handleFileUpload($event, 'DA')" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Estimation</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="purchaseRequest.estimation" name="estimation" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" type="submit">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
